@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

html {
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}


.team-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 12px;
    font-family: "Open Sans Condensed";
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.team-name::before,
.team-name::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 8px;
    background-color: #1c1d25;
    width: 100%;
    display: block;
}

.team-name::before {
    top: 10px;
}

.team-name::after {
    bottom: 10px;
}

.team-description {
    font-family: "Open Sans Condensed";
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    max-width: fit-content;
    padding: 100px;
}

.background {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 400px; /* Changed from height to min-height */
    padding: 0 20px 20px 20px;
    color: white;
    border-radius: 0px;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 300px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FED349;
    /* Default blue color */
    opacity: 0.3;
    /* Semi-transparent blue overlay */
    z-index: 1;
    /* Behind the profile cards but over the background image */
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 375px;
    min-height: auto;
    background-color: #F6F6F6;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(50%);
    position: relative;
    /* Added to ensure profile cards appear above the overlay */
    z-index: 2;
}

.profile-card:hover {
    color: #1c1d25;
    transform: translateY(48%) translateX(2px);
    transition: transform 0.3s ease, color 0.3s ease;
}

.card .profile-description .name {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    color: black;
    text-align: center;
}

.card .profile-description .position {
    font-style: italic;
    margin: 5px 0;
    color: black;
    text-align: center;
}

.card .profile-description p {
    margin: 5px 0;
    color: black;
}

.card .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
    margin-bottom: 10px;
    object-fit: cover;
}

.card .profile-description {
    text-align: center;
    font-family: "Open Sans";
    padding: 10px;
    width: 100%;
}